In [2]:
import os
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from scipy.sparse import csr_matrix, csc_matrix
from signet.cluster import Cluster
import glob

In [5]:
# Path to the 'Yearly' directory
data_root = "Data/CRSP/Yearly"
START_YEAR = 2000
END_YEAR = 2015

In [4]:
def load_gzipped_data(data_root):
    """
    Loads all .csv.gz daily files from Yearly/2000 through Yearly/2015.
    Extracts the date from the filename and adds it as a column.
    """
    all_files = []
    for year in range(START_YEAR, END_YEAR + 1):
        pattern = os.path.join(data_root, str(year), "*.csv.gz")
        files = sorted(glob.glob(pattern))
        
        for f in files:
            try:
                df_day = pd.read_csv(f, compression='gzip')
                date_str = os.path.basename(f).replace(".csv.gz", "")
                df_day["date"] = pd.to_datetime(date_str, format="%Y%m%d")
                all_files.append(df_day)
            except Exception as e:
                print(f"Skipping {f}: {e}")

    df = pd.concat(all_files, ignore_index=True)
    return df

In [5]:
df = load_gzipped_data("Data/CRSP/Yearly")

Note -- in sponge paper they eventaully subtract off an R_SPY term from the daily return that more or less regularizes things. eventually we should do this <br>
also make sure that its not making Nan values on either side of the temporal window

In [6]:
def compute_daily_return_matrix(df, window_dates):
    """
    Computes a matrix of daily log returns within a given window.

    Returns:
    - DataFrame with tickers as rows and dates as columns
    """
    df = df.copy()
    df = df[df['date'].isin(window_dates)]
    df = df[df['prevAdjClose'] > 0]

    df = df.sort_values(['ticker', 'date'])
    df['log_price'] = np.log(df['prevAdjClose'])

    # Compute daily returns 
    df['log_return'] = df.groupby('ticker')['log_price'].diff()

    df = df.dropna(subset=['log_return']) ##CHECK THIS -- Would first day be 0 because of the way this is done? might need an extra day in windowdates array (note: i think this is fixed)

    #I think(?) this solves the problem of the first day having an NaN value
    actual_window_dates = sorted(window_dates)[1:]
    df = df[df['date'].isin(actual_window_dates)]

    ##TODO: substract off the R_SPY term

    return df.pivot(index='ticker', columns='date', values='log_return')

Check on this: verify that sponge clustering code works with WEIGHTED adjacency matrix, not just binary adjacency matrix. if its not weighted then i dont see how weights come in?

In [7]:
def build_signed_graph(R, threshold=0.3):
    corr = R.T.corr().fillna(0)
    np.fill_diagonal(corr.values, 0)
    Ap = csc_matrix(corr.values * (corr.values >= threshold))
    An = csc_matrix(-corr.values * (corr.values <= -threshold))
    return Ap, An

In [8]:
def sponge_clustering(Ap, An, k=5, tau_p=1, tau_n=1):
    clusterer = Cluster((Ap, An))
    labels = clusterer.SPONGE(k=k, tau_p=tau_p, tau_n=tau_n)
    return labels

In [9]:
## Step 2 of the pipeline -- to be called during run the rolling sponge pipleine

def compute_synthetic_etfs(R, clustering_result):
    """
    Create synthetic ETFs for each cluster on a given date.
    
    Parameters:
    - R: pandas DataFrame (tickers × dates) of returns for the current window
    - clustering_result: dict with 'date' and 'clusters' from run_rolling_sponge_clustering
    
    Returns:
    - dict mapping cluster ID ([k]) to synthetic ETF time series
    """
    etfs = {}
    date = clustering_result['date']
    clusters = clustering_result['clusters']

    for label, tickers in clusters.items():
       # if len(tickers) < 2: ##might not be necessary
       #     continue  # Skip singleton clusters (ETF is trivial or meaningless)

        # Submatrix of returns for the cluster
        cluster_returns = R.loc[tickers]

        # Each row is an asset, columns are time. compute centroid as numpy array for broadcasting
        centroid = cluster_returns.mean(axis=0, skipna=True)
        centroid = centroid.values

        # Euclidean distance of each asset to the centroid
       # distances = np.linalg.norm(cluster_returns.values - centroid.values, axis=1)
        #The diffs line is to treat the NANs as 0s just for the sake of distance calculation. This could use work because data we dont have is being treated as "important" i.e. close to center 
        #TODO Fix the way this is handled -- I don't like that an asset with a lot of missing data will have a higher weight than other assets
        diffs = np.nan_to_num(cluster_returns.values - centroid)
        distances = np.linalg.norm(diffs, axis=1)       

        # Convert to weights: inverse distance, avoid div by 0. less distance to center implies stronger weights.
        epsilon = 1e-8
        inv_distances = 1 / (distances + epsilon)
        weights = inv_distances / inv_distances.sum() #normalize

        # Weighted average across assets → synthetic ETF
        #synthetic_etf = np.average(cluster_returns.values, axis=0, weights=weights)
        ##converts NaN values to 0 so they won't impact the overall value of the average return
        synthetic_etf = np.average(np.nan_to_num(cluster_returns.values), axis=0, weights=weights)

        etfs[label] = pd.Series(synthetic_etf, index=cluster_returns.columns)


    return {
        'date': date,
        'synthetic_etfs': etfs
    }

The below is good for performing rolling sponge clustering to obtain all k x T dataframes at once. The output is a dictionary, but can be thought of as an N x k x T tensor where N is the total number of sliding windows we consider. Note that the clusters at each window as we iterate over N may be different

In [10]:
# def run_rolling_sponge_clustering(df, lookback=20, threshold=0.3, k=5):
#     df = df.sort_values('date')
#     unique_dates = df['date'].drop_duplicates().sort_values().reset_index(drop=True)

#     results = []

#     for i in range(lookback, len(unique_dates)):
#         window_dates = unique_dates[i - lookback - 1:i] ##minus 1 because we need to make sure we go back an extra day so that the first day of our lookback window has the amount of time it needs
#         R = compute_daily_return_matrix(df, window_dates)
#         tickers = R.index.tolist()
        
#         if R.shape[1] < 2:
#             # Not enough data to compute correlation
#             continue

#         Ap, An = build_signed_graph(R, threshold=threshold)
#         labels = sponge_clustering(Ap, An, k=k)

#         # Build cluster dictionary
#         cluster_dict = {}
#         for ticker, label in zip(tickers, labels):
#             cluster_dict.setdefault(label, []).append(ticker)

#         clustering_result = {
#             'date': unique_dates[i],
#             'clusters': cluster_dict
#         }

#         synthetic_eft_clustering_results = compute_synthetic_etfs(R, clustering_result)

#         results.append(synthetic_eft_clustering_results)

#         print(f"Processed clustering and ETF synthesis for window ending {unique_dates[i].date()}")

#     return results

In [23]:
def run_sponge_clustering_window(df, start_date, end_date, threshold=0.3, k=5):
    # Ensure datetime format
    df['date'] = pd.to_datetime(df['date'])
    df = df.sort_values('date')

    # Drop duplicates and sort unique dates
    unique_dates = df['date'].drop_duplicates().sort_values().reset_index(drop=True)

    # Find the index of start_date and go one day earlier
    start_idx = unique_dates[unique_dates >= pd.to_datetime(start_date)].index[0]
    adjusted_start_date = unique_dates[max(0, start_idx - 1)]

    # Filter data between the two dates
    #mask = (df['date'] >= adjusted_start_date) & (df['date'] <= pd.to_datetime(end_date))
    #window_df = df[mask]

    # Extract unique dates in the window (sorted)
    window_dates = unique_dates[(unique_dates >= adjusted_start_date) & (unique_dates <= pd.to_datetime(end_date))].reset_index(drop=True)


    # Compute the return matrix for the entire window
    R = compute_daily_return_matrix(df, window_dates)
    tickers = R.index.tolist()

    if R.shape[1] < 2:
        raise ValueError("Not enough time points to compute return correlations.")

    # Build signed graph and run clustering
    Ap, An = build_signed_graph(R, threshold=threshold)
    labels = sponge_clustering(Ap, An, k=k)

    # Build cluster dictionary
    cluster_dict = {}
    for ticker, label in zip(tickers, labels):
        cluster_dict.setdefault(label, []).append(ticker)

    clustering_result = {
        'date': pd.to_datetime(end_date),  # Or just a placeholder
        'clusters': cluster_dict
    }

    synthetic_result = compute_synthetic_etfs(R, clustering_result)
    etfs = synthetic_result['synthetic_etfs']  # dict: cluster_id -> pd.Series

    # Build and return k × T DataFrame
    etf_df = pd.DataFrame.from_dict(etfs, orient='index')  # clusters as rows
    return etf_df

In [26]:
test_result = run_sponge_clustering_window(df, '05-31-2000', '07-25-2000')

In [27]:
test_result

,2000-05-31,2000-06-01,2000-06-02,2000-06-05,2000-06-06,2000-06-07,2000-06-08,2000-06-09,2000-06-12,2000-06-13,...,2000-07-12,2000-07-13,2000-07-14,2000-07-17,2000-07-18,2000-07-19,2000-07-20,2000-07-21,2000-07-24,2000-07-25
1,0.001629,0.001626,0.002398,0.000788,0.003410,0.002124,0.002050,0.000762,0.002827,-0.000172,...,0.000072,0.000990,-0.000116,0.001379,0.001228,0.000025,-0.000786,0.000177,-0.000223,-0.000604
3,0.005842,0.005495,0.013021,0.029125,-0.004622,-0.007103,0.003770,-0.005561,0.001034,-0.002866,...,0.003629,0.003633,-0.001187,0.003886,-0.006408,-0.002998,-0.004125,0.005052,-0.001942,-0.004260
2,0.007235,-0.000992,0.008194,0.005874,-0.010585,0.001383,0.000707,-0.005106,0.003820,0.000308,...,0.002348,0.004068,0.000056,-0.000513,-0.000919,-0.004051,-0.001593,0.005316,-0.006253,-0.005128
0,0.035043,-0.001741,0.020940,0.028434,-0.002881,-0.003495,0.004504,-0.004172,0.004914,-0.011433,...,-0.001790,0.011732,0.002311,0.004773,0.003053,-0.012701,-0.009968,0.009435,-0.012216,-0.010631
4,0.011576,0.029993,-0.000238,-0.033174,-0.023042,0.028894,-0.004207,0.009973,-0.005656,0.024532,...,0.040200,-0.009611,-0.007965,-0.000427,-0.011594,0.009806,-0.008414,-0.007703,-0.022610,-0.030935

ANNIE: Below is the function you can eventually use to do your part. It takes in an overall start date, overall end date and window size. It calls the run_sponge_clustering_window() function that JUST computes the k x T dataframe for a window of size T. It iteratively does this process from the overall start date to the overall end date with a step size of T (window_size) until the end date is reached. You can add the code you want to call for each k x T dataframe into the try block. Feel free the change the function name too

In [28]:
def run_rolling_sponge_clustering(df, overall_start_date, overall_end_date, window_size, threshold=0.3, k=5):
    """
    Run SPONGE clustering in a rolling window fashion over a given date range.

    Returns:
    - results: list of tuples (window_start_date, k × T DataFrame)
    """
    # Ensure datetime format
    df['date'] = pd.to_datetime(df['date'])
    overall_start_date = pd.to_datetime(overall_start_date)
    overall_end_date = pd.to_datetime(overall_end_date)

    # Filter trading dates between overall_start and overall_end
    all_dates = df['date'].drop_duplicates().sort_values().reset_index(drop=True)
    unique_dates = all_dates[(all_dates >= overall_start_date) & (all_dates <= overall_end_date)].reset_index(drop=True)

    results = []

    # Iterate through valid rolling windows
    for i in range(len(unique_dates) - window_size + 1):
        window_start = unique_dates[i]
        window_end = unique_dates[i + window_size - 1]

        try:
            etf_df = run_sponge_clustering_window(
                df,
                start_date=window_start,
                end_date=window_end,
                threshold=threshold,
                k=k
            )
            results.append((window_start, etf_df))
            print(f"Processed window: {window_start.date()} to {window_end.date()}")
        except Exception as e:
            print(f"Skipping window {window_start.date()} to {window_end.date()} due to error: {e}")
            continue

    return results

In [30]:
results = run_rolling_sponge_clustering(df, '05-31-2000', '08-01-2000', 20)

Processed window: 2000-05-31 to 2000-06-27
Processed window: 2000-06-01 to 2000-06-28
Processed window: 2000-06-02 to 2000-06-29
Processed window: 2000-06-05 to 2000-06-30
Processed window: 2000-06-06 to 2000-07-03
Processed window: 2000-06-07 to 2000-07-05
Processed window: 2000-06-08 to 2000-07-06
Processed window: 2000-06-09 to 2000-07-07
Processed window: 2000-06-12 to 2000-07-10
Processed window: 2000-06-13 to 2000-07-11
Processed window: 2000-06-14 to 2000-07-12
Processed window: 2000-06-15 to 2000-07-13
Processed window: 2000-06-16 to 2000-07-14
Processed window: 2000-06-19 to 2000-07-17
Processed window: 2000-06-20 to 2000-07-18
Processed window: 2000-06-21 to 2000-07-19
Processed window: 2000-06-22 to 2000-07-20
Processed window: 2000-06-23 to 2000-07-21
Processed window: 2000-06-26 to 2000-07-24
Processed window: 2000-06-27 to 2000-07-25
Processed window: 2000-06-28 to 2000-07-26
Processed window: 2000-06-29 to 2000-07-27
Processed window: 2000-06-30 to 2000-07-28
Processed window: 2000-07-03 to 2000-07-31
Processed window: 2000-07-05 to 2000-08-01

In [107]:
#df = your_loaded_dataframe_with_all_data
results = run_rolling_sponge_clustering(df, lookback=20, threshold=0.3, k=5)

Processed clustering and ETF synthesis for window ending 2000-02-02
Processed clustering and ETF synthesis for window ending 2000-02-03
Processed clustering and ETF synthesis for window ending 2000-02-04
Processed clustering and ETF synthesis for window ending 2000-02-07
Processed clustering and ETF synthesis for window ending 2000-02-08
Processed clustering and ETF synthesis for window ending 2000-02-09
Processed clustering and ETF synthesis for window ending 2000-02-10
Processed clustering and ETF synthesis for window ending 2000-02-11
Processed clustering and ETF synthesis for window ending 2000-02-14
Processed clustering and ETF synthesis for window ending 2000-02-15
Processed clustering and ETF synthesis for window ending 2000-02-16
Processed clustering and ETF synthesis for window ending 2000-02-17
Processed clustering and ETF synthesis for window ending 2000-02-18
Processed clustering and ETF synthesis for window ending 2000-02-22
Processed clustering and ETF synthesis for window ending 2000-02-23
Processed clustering and ETF synthesis for window ending 2000-02-24
Processed clustering and ETF synthesis for window ending 2000-02-25
Processed clustering and ETF synthesis for window ending 2000-02-28
Processed clustering and ETF synthesis for window ending 2000-02-29
Processed clustering and ETF synthesis for window ending 2000-03-01
Processed clustering and ETF synthesis for window ending 2000-03-02
Processed clustering and ETF synthesis for window ending 2000-03-03
Processed clustering and ETF synthesis for window ending 2000-03-06
Processed clustering and ETF synthesis for window ending 2000-03-07
Processed clustering and ETF synthesis for window ending 2000-03-08
Processed clustering and ETF synthesis for window ending 2000-03-09
Processed clustering and ETF synthesis for window ending 2000-03-10
Processed clustering and ETF synthesis for window ending 2000-03-13
Processed clustering and ETF synthesis for window ending 2000-03-14
Processed clustering and ETF synthesis for window ending 2000-03-15
Processed clustering and ETF synthesis for window ending 2000-03-16
Processed clustering and ETF synthesis for window ending 2000-03-17
Processed clustering and ETF synthesis for window ending 2000-03-20
Processed clustering and ETF synthesis for window ending 2000-03-21
Processed clustering and ETF synthesis for window ending 2000-03-22
Processed clustering and ETF synthesis for window ending 2000-03-23
Processed clustering and ETF synthesis for window ending 2000-03-24
Processed clustering and ETF synthesis for window ending 2000-03-27
Processed clustering and ETF synthesis for window ending 2000-03-28
Processed clustering and ETF synthesis for window ending 2000-03-29
Processed clustering and ETF synthesis for window ending 2000-03-30
Processed clustering and ETF synthesis for window ending 2000-03-31
Processed clustering and ETF synthesis for window ending 2000-04-03
Processed clustering and ETF synthesis for window ending 2000-04-04
Processed clustering and ETF synthesis for window ending 2000-04-05
Processed clustering and ETF synthesis for window ending 2000-04-06
Processed clustering and ETF synthesis for window ending 2000-04-07
Processed clustering and ETF synthesis for window ending 2000-04-10
Processed clustering and ETF synthesis for window ending 2000-04-11
Processed clustering and ETF synthesis for window ending 2000-04-12
Processed clustering and ETF synthesis for window ending 2000-04-13
Processed clustering and ETF synthesis for window ending 2000-04-14
Processed clustering and ETF synthesis for window ending 2000-04-17
Processed clustering and ETF synthesis for window ending 2000-04-18
Processed clustering and ETF synthesis for window ending 2000-04-19
Processed clustering and ETF synthesis for window ending 2000-04-20
Processed clustering and ETF synthesis for window ending 2000-04-24
Processed clustering and ETF synthesis for window ending 2000-04-25
Processed clustering and ETF synthesis for window ending 2000-04-26
Processed clustering and ETF synthesis for window ending 2000-04-27
Processed clustering and ETF synthesis for window ending 2000-04-28
Processed clustering and ETF synthesis for window ending 2000-05-01
Processed clustering and ETF synthesis for window ending 2000-05-02
Processed clustering and ETF synthesis for window ending 2000-05-03
Processed clustering and ETF synthesis for window ending 2000-05-04
Processed clustering and ETF synthesis for window ending 2000-05-05
Processed clustering and ETF synthesis for window ending 2000-05-08
Processed clustering and ETF synthesis for window ending 2000-05-09
Processed clustering and ETF synthesis for window ending 2000-05-10
Processed clustering and ETF synthesis for window ending 2000-05-11
Processed clustering and ETF synthesis for window ending 2000-05-12
Processed clustering and ETF synthesis for window ending 2000-05-15
Processed clustering and ETF synthesis for window ending 2000-05-16
Processed clustering and ETF synthesis for window ending 2000-05-17
Processed clustering and ETF synthesis for window ending 2000-05-18
Processed clustering and ETF synthesis for window ending 2000-05-19
Processed clustering and ETF synthesis for window ending 2000-05-22
Processed clustering and ETF synthesis for window ending 2000-05-23
Processed clustering and ETF synthesis for window ending 2000-05-24
Processed clustering and ETF synthesis for window ending 2000-05-25
Processed clustering and ETF synthesis for window ending 2000-05-26
Processed clustering and ETF synthesis for window ending 2000-05-30
Processed clustering and ETF synthesis for window ending 2000-05-31
Processed clustering and ETF synthesis for window ending 2000-06-01
Processed clustering and ETF synthesis for window ending 2000-06-02
Processed clustering and ETF synthesis for window ending 2000-06-05
Processed clustering and ETF synthesis for window ending 2000-06-06
Processed clustering and ETF synthesis for window ending 2000-06-07
Processed clustering and ETF synthesis for window ending 2000-06-08
Processed clustering and ETF synthesis for window ending 2000-06-09
Processed clustering and ETF synthesis for window ending 2000-06-12
Processed clustering and ETF synthesis for window ending 2000-06-13
Processed clustering and ETF synthesis for window ending 2000-06-14
Processed clustering and ETF synthesis for window ending 2000-06-15
Processed clustering and ETF synthesis for window ending 2000-06-16
Processed clustering and ETF synthesis for window ending 2000-06-19
Processed clustering and ETF synthesis for window ending 2000-06-20
Processed clustering and ETF synthesis for window ending 2000-06-21
Processed clustering and ETF synthesis for window ending 2000-06-22
Processed clustering and ETF synthesis for window ending 2000-06-23
Processed clustering and ETF synthesis for window ending 2000-06-26
Processed clustering and ETF synthesis for window ending 2000-06-27
Processed clustering and ETF synthesis for window ending 2000-06-28
Processed clustering and ETF synthesis for window ending 2000-06-29
Processed clustering and ETF synthesis for window ending 2000-06-30
Processed clustering and ETF synthesis for window ending 2000-07-03
Processed clustering and ETF synthesis for window ending 2000-07-05
Processed clustering and ETF synthesis for window ending 2000-07-06
Processed clustering and ETF synthesis for window ending 2000-07-07
Processed clustering and ETF synthesis for window ending 2000-07-10
Processed clustering and ETF synthesis for window ending 2000-07-11
Processed clustering and ETF synthesis for window ending 2000-07-12
Processed clustering and ETF synthesis for window ending 2000-07-13
Processed clustering and ETF synthesis for window ending 2000-07-14
Processed clustering and ETF synthesis for window ending 2000-07-17
Processed clustering and ETF synthesis for window ending 2000-07-18
Processed clustering and ETF synthesis for window ending 2000-07-19
Processed clustering and ETF synthesis for window ending 2000-07-20
Processed clustering and ETF synthesis for window ending 2000-07-21
Processed clustering and ETF synthesis for window ending 2000-07-24
Processed clustering and ETF synthesis for window ending 2000-07-25
Processed clustering and ETF synthesis for window ending 2000-07-26
Processed clustering and ETF synthesis for window ending 2000-07-27
Processed clustering and ETF synthesis for window ending 2000-07-28
Processed clustering and ETF synthesis for window ending 2000-07-31
Processed clustering and ETF synthesis for window ending 2000-08-01
Processed clustering and ETF synthesis for window ending 2000-08-02
Processed clustering and ETF synthesis for window ending 2000-08-03
Processed clustering and ETF synthesis for window ending 2000-08-04
Processed clustering and ETF synthesis for window ending 2000-08-07
Processed clustering and ETF synthesis for window ending 2000-08-08
Processed clustering and ETF synthesis for window ending 2000-08-09
Processed clustering and ETF synthesis for window ending 2000-08-10
Processed clustering and ETF synthesis for window ending 2000-08-11
Processed clustering and ETF synthesis for window ending 2000-08-14
Processed clustering and ETF synthesis for window ending 2000-08-15
Processed clustering and ETF synthesis for window ending 2000-08-16
Processed clustering and ETF synthesis for window ending 2000-08-17
Processed clustering and ETF synthesis for window ending 2000-08-18
Processed clustering and ETF synthesis for window ending 2000-08-21
Processed clustering and ETF synthesis for window ending 2000-08-22
Processed clustering and ETF synthesis for window ending 2000-08-23
Processed clustering and ETF synthesis for window ending 2000-08-24
Processed clustering and ETF synthesis for window ending 2000-08-25
Processed clustering and ETF synthesis for window ending 2000-08-28
Processed clustering and ETF synthesis for window ending 2000-08-29
Processed clustering and ETF synthesis for window ending 2000-08-30
Processed clustering and ETF synthesis for window ending 2000-08-31
Processed clustering and ETF synthesis for window ending 2000-09-01
Processed clustering and ETF synthesis for window ending 2000-09-05
Processed clustering and ETF synthesis for window ending 2000-09-06
Processed clustering and ETF synthesis for window ending 2000-09-07
Processed clustering and ETF synthesis for window ending 2000-09-08
Processed clustering and ETF synthesis for window ending 2000-09-11
Processed clustering and ETF synthesis for window ending 2000-09-12
Processed clustering and ETF synthesis for window ending 2000-09-13
Processed clustering and ETF synthesis for window ending 2000-09-14
Processed clustering and ETF synthesis for window ending 2000-09-15
Processed clustering and ETF synthesis for window ending 2000-09-18
Processed clustering and ETF synthesis for window ending 2000-09-19
Processed clustering and ETF synthesis for window ending 2000-09-20
Processed clustering and ETF synthesis for window ending 2000-09-21
Processed clustering and ETF synthesis for window ending 2000-09-22
Processed clustering and ETF synthesis for window ending 2000-09-25
Processed clustering and ETF synthesis for window ending 2000-09-26
Processed clustering and ETF synthesis for window ending 2000-09-27
Processed clustering and ETF synthesis for window ending 2000-09-28
Processed clustering and ETF synthesis for window ending 2000-09-29
Processed clustering and ETF synthesis for window ending 2000-10-02
Processed clustering and ETF synthesis for window ending 2000-10-03
Processed clustering and ETF synthesis for window ending 2000-10-04
Processed clustering and ETF synthesis for window ending 2000-10-05
Processed clustering and ETF synthesis for window ending 2000-10-06
Processed clustering and ETF synthesis for window ending 2000-10-09
Processed clustering and ETF synthesis for window ending 2000-10-10
Processed clustering and ETF synthesis for window ending 2000-10-11
Processed clustering and ETF synthesis for window ending 2000-10-12
Processed clustering and ETF synthesis for window ending 2000-10-13
Processed clustering and ETF synthesis for window ending 2000-10-16
Processed clustering and ETF synthesis for window ending 2000-10-17
Processed clustering and ETF synthesis for window ending 2000-10-18
Processed clustering and ETF synthesis for window ending 2000-10-19
Processed clustering and ETF synthesis for window ending 2000-10-20
Processed clustering and ETF synthesis for window ending 2000-10-23
Processed clustering and ETF synthesis for window ending 2000-10-24
Processed clustering and ETF synthesis for window ending 2000-10-25
Processed clustering and ETF synthesis for window ending 2000-10-26
Processed clustering and ETF synthesis for window ending 2000-10-27
Processed clustering and ETF synthesis for window ending 2000-10-30
Processed clustering and ETF synthesis for window ending 2000-10-31
Processed clustering and ETF synthesis for window ending 2000-11-01
Processed clustering and ETF synthesis for window ending 2000-11-02
Processed clustering and ETF synthesis for window ending 2000-11-03
Processed clustering and ETF synthesis for window ending 2000-11-06
Processed clustering and ETF synthesis for window ending 2000-11-07
Processed clustering and ETF synthesis for window ending 2000-11-08
Processed clustering and ETF synthesis for window ending 2000-11-09
Processed clustering and ETF synthesis for window ending 2000-11-10
Processed clustering and ETF synthesis for window ending 2000-11-13
Processed clustering and ETF synthesis for window ending 2000-11-14
Processed clustering and ETF synthesis for window ending 2000-11-15
Processed clustering and ETF synthesis for window ending 2000-11-16
Processed clustering and ETF synthesis for window ending 2000-11-17
Processed clustering and ETF synthesis for window ending 2000-11-20
Processed clustering and ETF synthesis for window ending 2000-11-21
Processed clustering and ETF synthesis for window ending 2000-11-22
Processed clustering and ETF synthesis for window ending 2000-11-24
Processed clustering and ETF synthesis for window ending 2000-11-27
Processed clustering and ETF synthesis for window ending 2000-11-28
Processed clustering and ETF synthesis for window ending 2000-11-29
Processed clustering and ETF synthesis for window ending 2000-11-30
Processed clustering and ETF synthesis for window ending 2000-12-01
Processed clustering and ETF synthesis for window ending 2000-12-04
Processed clustering and ETF synthesis for window ending 2000-12-05
Processed clustering and ETF synthesis for window ending 2000-12-06
Processed clustering and ETF synthesis for window ending 2000-12-07
Processed clustering and ETF synthesis for window ending 2000-12-08
Processed clustering and ETF synthesis for window ending 2000-12-11
Processed clustering and ETF synthesis for window ending 2000-12-12
Processed clustering and ETF synthesis for window ending 2000-12-13
Processed clustering and ETF synthesis for window ending 2000-12-14
Processed clustering and ETF synthesis for window ending 2000-12-15
Processed clustering and ETF synthesis for window ending 2000-12-18
Processed clustering and ETF synthesis for window ending 2000-12-19
Processed clustering and ETF synthesis for window ending 2000-12-20
Processed clustering and ETF synthesis for window ending 2000-12-21
Processed clustering and ETF synthesis for window ending 2000-12-22
Processed clustering and ETF synthesis for window ending 2000-12-26
Processed clustering and ETF synthesis for window ending 2000-12-27
Processed clustering and ETF synthesis for window ending 2000-12-28
Processed clustering and ETF synthesis for window ending 2000-12-29
Processed clustering and ETF synthesis for window ending 2001-01-02
Processed clustering and ETF synthesis for window ending 2001-01-03
Processed clustering and ETF synthesis for window ending 2001-01-04
Processed clustering and ETF synthesis for window ending 2001-01-05
Processed clustering and ETF synthesis for window ending 2001-01-08
Processed clustering and ETF synthesis for window ending 2001-01-09
Processed clustering and ETF synthesis for window ending 2001-01-10
Processed clustering and ETF synthesis for window ending 2001-01-11
Processed clustering and ETF synthesis for window ending 2001-01-12
Processed clustering and ETF synthesis for window ending 2001-01-16
Processed clustering and ETF synthesis for window ending 2001-01-17
Processed clustering and ETF synthesis for window ending 2001-01-18
Processed clustering and ETF synthesis for window ending 2001-01-19
Processed clustering and ETF synthesis for window ending 2001-01-22
Processed clustering and ETF synthesis for window ending 2001-01-23
Processed clustering and ETF synthesis for window ending 2001-01-24
Processed clustering and ETF synthesis for window ending 2001-01-25
Processed clustering and ETF synthesis for window ending 2001-01-26
Processed clustering and ETF synthesis for window ending 2001-01-29
Processed clustering and ETF synthesis for window ending 2001-01-30
Processed clustering and ETF synthesis for window ending 2001-01-31
Processed clustering and ETF synthesis for window ending 2001-02-01
Processed clustering and ETF synthesis for window ending 2001-02-02
Processed clustering and ETF synthesis for window ending 2001-02-05
Processed clustering and ETF synthesis for window ending 2001-02-06
Processed clustering and ETF synthesis for window ending 2001-02-07
Processed clustering and ETF synthesis for window ending 2001-02-08
Processed clustering and ETF synthesis for window ending 2001-02-09
Processed clustering and ETF synthesis for window ending 2001-02-12
Processed clustering and ETF synthesis for window ending 2001-02-13
Processed clustering and ETF synthesis for window ending 2001-02-14
Processed clustering and ETF synthesis for window ending 2001-02-15
Processed clustering and ETF synthesis for window ending 2001-02-16
Processed clustering and ETF synthesis for window ending 2001-02-20
Processed clustering and ETF synthesis for window ending 2001-02-21
Processed clustering and ETF synthesis for window ending 2001-02-22
Processed clustering and ETF synthesis for window ending 2001-02-23
Processed clustering and ETF synthesis for window ending 2001-02-26
Processed clustering and ETF synthesis for window ending 2001-02-27
Processed clustering and ETF synthesis for window ending 2001-02-28
Processed clustering and ETF synthesis for window ending 2001-03-01
Processed clustering and ETF synthesis for window ending 2001-03-02
Processed clustering and ETF synthesis for window ending 2001-03-05
Processed clustering and ETF synthesis for window ending 2001-03-06
Processed clustering and ETF synthesis for window ending 2001-03-07
Processed clustering and ETF synthesis for window ending 2001-03-08
Processed clustering and ETF synthesis for window ending 2001-03-09
Processed clustering and ETF synthesis for window ending 2001-03-12
Processed clustering and ETF synthesis for window ending 2001-03-13
Processed clustering and ETF synthesis for window ending 2001-03-14
Processed clustering and ETF synthesis for window ending 2001-03-15
Processed clustering and ETF synthesis for window ending 2001-03-16
Processed clustering and ETF synthesis for window ending 2001-03-19
Processed clustering and ETF synthesis for window ending 2001-03-20
Processed clustering and ETF synthesis for window ending 2001-03-21
Processed clustering and ETF synthesis for window ending 2001-03-22
Processed clustering and ETF synthesis for window ending 2001-03-23
Processed clustering and ETF synthesis for window ending 2001-03-26
Processed clustering and ETF synthesis for window ending 2001-03-27
Processed clustering and ETF synthesis for window ending 2001-03-28
Processed clustering and ETF synthesis for window ending 2001-03-29
Processed clustering and ETF synthesis for window ending 2001-03-30
Processed clustering and ETF synthesis for window ending 2001-04-02

In [108]:
results

[{'date': Timestamp('2000-02-02 00:00:00'),
  'synthetic_etfs': {1: date
   2000-01-04   -0.027090
   2000-01-05   -0.016000
   2000-01-06    0.014421
   2000-01-07    0.015999
   2000-01-10    0.017367
   2000-01-11   -0.005227
   2000-01-12   -0.010415
   2000-01-13    0.000153
   2000-01-14    0.008664
   2000-01-18   -0.000276
   2000-01-19   -0.012027
   2000-01-20   -0.001655
   2000-01-21   -0.011328
   2000-01-24   -0.005630
   2000-01-25   -0.015130
   2000-01-26   -0.007428
   2000-01-27    0.010287
   2000-01-28    0.000636
   2000-01-31   -0.013315
   2000-02-01    0.010319
   dtype: float64,
   3: date
   2000-01-04    0.015221
   2000-01-05    0.001077
   2000-01-06    0.001177
   2000-01-07    0.001178
   2000-01-10    0.001141
   2000-01-11    0.000144
   2000-01-12   -0.005903
   2000-01-13   -0.001576
   2000-01-14   -0.002519
   2000-01-18   -0.002160
   2000-01-19   -0.002028
   2000-01-20   -0.003115
   2000-01-21   -0.001811
   2000-01-24   -0.003365
   2000-01-25   -0.000701
   2000-01-26    0.002225
   2000-01-27    0.001354
   2000-01-28    0.005660
   2000-01-31   -0.003270
   2000-02-01    0.001995
   dtype: float64,
   0: date
   2000-01-04   -0.018596
   2000-01-05   -0.012582
   2000-01-06   -0.000598
   2000-01-07    0.018882
   2000-01-10    0.016351
   2000-01-11   -0.002965
   2000-01-12    0.003080
   2000-01-13   -0.008612
   2000-01-14    0.014205
   2000-01-18   -0.000963
   2000-01-19    0.033477
   2000-01-20    0.002779
   2000-01-21   -0.007834
   2000-01-24    0.003947
   2000-01-25   -0.018467
   2000-01-26   -0.003358
   2000-01-27   -0.009697
   2000-01-28   -0.008353
   2000-01-31   -0.007242
   2000-02-01   -0.009300
   dtype: float64,
   4: date
   2000-01-04   -0.024009
   2000-01-05   -0.008980
   2000-01-06    0.002510
   2000-01-07   -0.007129
   2000-01-10    0.002027
   2000-01-11    0.009887
   2000-01-12   -0.001862
   2000-01-13   -0.001100
   2000-01-14    0.003394
   2000-01-18    0.008153
   2000-01-19   -0.007580
   2000-01-20    0.010905
   2000-01-21    0.009720
   2000-01-24    0.008599
   2000-01-25    0.010073
   2000-01-26   -0.009351
   2000-01-27   -0.002502
   2000-01-28   -0.008431
   2000-01-31   -0.004179
   2000-02-01   -0.013164
   dtype: float64,
   2: date
   2000-01-04   -0.001100
   2000-01-05   -0.036269
   2000-01-06   -0.002789
   2000-01-07   -0.007586
   2000-01-10    0.021103
   2000-01-11    0.029930
   2000-01-12   -0.015838
   2000-01-13   -0.006458
   2000-01-14    0.015337
   2000-01-18    0.011451
   2000-01-19   -0.000166
   2000-01-20    0.000614
   2000-01-21   -0.000327
   2000-01-24   -0.004156
   2000-01-25   -0.013422
   2000-01-26   -0.003209
   2000-01-27    0.000975
   2000-01-28   -0.002720
   2000-01-31   -0.019197
   2000-02-01   -0.009961
   dtype: float64}},
 {'date': Timestamp('2000-02-03 00:00:00'),
  'synthetic_etfs': {3: date
   2000-01-05   -0.013329
   2000-01-06    0.020922
   2000-01-07    0.021370
   2000-01-10    0.020046
   2000-01-11   -0.006912
   2000-01-12   -0.011584
   2000-01-13   -0.003196
   2000-01-14    0.007067
   2000-01-18   -0.005697
   2000-01-19   -0.012913
   2000-01-20    0.004200
   2000-01-21   -0.007270
   2000-01-24   -0.005564
   2000-01-25   -0.012496
   2000-01-26   -0.009234
   2000-01-27    0.006083
   2000-01-28   -0.002580
   2000-01-31   -0.006294
   2000-02-01   -0.005097
   2000-02-02    0.004972
   dtype: float64,
   2: date
   2000-01-05   -0.012710
   2000-01-06    0.003409
   2000-01-07    0.006847
   2000-01-10    0.008991
   2000-01-11   -0.003176
   2000-01-12   -0.007812
   2000-01-13    0.001842
   2000-01-14    0.005172
   2000-01-18    0.002930
   2000-01-19   -0.006504
   2000-01-20   -0.007129
   2000-01-21   -0.010120
   2000-01-24   -0.003283
   2000-01-25   -0.010548
   2000-01-26   -0.002574
   2000-01-27    0.010390
   2000-01-28    0.005861
   2000-01-31   -0.015847
   2000-02-01    0.024651
   2000-02-02   -0.007448
   dtype: float64,
   0: date
   2000-01-05   -0.030676
   2000-01-06   -0.002050
   2000-01-07   -0.007562
   2000-01-10    0.016905
   2000-01-11    0.026536
   2000-01-12   -0.013765
   2000-01-13   -0.004633
   2000-01-14    0.014401
   2000-01-18    0.011415
   2000-01-19   -0.002600
   2000-01-20    0.001087
   2000-01-21    0.000275
   2000-01-24   -0.002466
   2000-01-25   -0.012119
   2000-01-26   -0.004454
   2000-01-27    0.000517
   2000-01-28   -0.003348
   2000-01-31   -0.017773
   2000-02-01   -0.010500
   2000-02-02    0.010362
   dtype: float64,
   1: date
   2000-01-05    0.003027
   2000-01-06    0.001218
   2000-01-07   -0.002272
   2000-01-10   -0.001570
   2000-01-11    0.001326
   2000-01-12   -0.001511
   2000-01-13   -0.000114
   2000-01-14   -0.002476
   2000-01-18   -0.000200
   2000-01-19   -0.003039
   2000-01-20    0.001492
   2000-01-21    0.002032
   2000-01-24   -0.000160
   2000-01-25    0.004526
   2000-01-26    0.000202
   2000-01-27   -0.000564
   2000-01-28    0.001364
   2000-01-31    0.001095
   2000-02-01   -0.004295
   2000-02-02    0.000649
   dtype: float64,
   4: date
   2000-01-05   -0.013204
   2000-01-06   -0.003259
   2000-01-07    0.018401
   2000-01-10    0.015874
   2000-01-11   -0.003334
   2000-01-12    0.004038
   2000-01-13   -0.010142
   2000-01-14    0.012757
   2000-01-18    0.000544
   2000-01-19    0.036618
   2000-01-20    0.003468
   2000-01-21   -0.007297
   2000-01-24    0.006874
   2000-01-25   -0.015664
   2000-01-26   -0.003861
   2000-01-27   -0.009669
   2000-01-28   -0.010086
   2000-01-31   -0.009286
   2000-02-01   -0.007389
   2000-02-02    0.004251
   dtype: float64}},
 {'date': Timestamp('2000-02-04 00:00:00'),
  'synthetic_etfs': {4: date
   2000-01-06    0.023703
   2000-01-07    0.019116
   2000-01-10    0.018825
   2000-01-11   -0.006481
   2000-01-12   -0.011882
   2000-01-13   -0.002900
   2000-01-14    0.007128
   2000-01-18   -0.005012
   2000-01-19   -0.014273
   2000-01-20    0.004186
   2000-01-21   -0.006503
   2000-01-24   -0.004494
   2000-01-25   -0.011977
   2000-01-26   -0.009017
   2000-01-27    0.004797
   2000-01-28   -0.002485
   2000-01-31   -0.005581
   2000-02-01   -0.004417
   2000-02-02    0.004365
   2000-02-03   -0.001364
   dtype: float64,
   3: date
   2000-01-06    0.002095
   2000-01-07    0.007169
   2000-01-10    0.009398
   2000-01-11   -0.003473
   2000-01-12   -0.008286
   2000-01-13    0.001611
   2000-01-14    0.005752
   2000-01-18    0.003525
   2000-01-19   -0.006810
   2000-01-20   -0.007291
   2000-01-21   -0.010767
   2000-01-24   -0.003714
   2000-01-25   -0.010820
   2000-01-26   -0.002151
   2000-01-27    0.012052
   2000-01-28    0.005874
   2000-01-31   -0.015647
   2000-02-01    0.023262
   2000-02-02   -0.006281
   2000-02-03    0.000249
   dtype: float64,
   0: date
   2000-01-06    0.001735
   2000-01-07   -0.002262
   2000-01-10   -0.002619
   2000-01-11    0.000954
   2000-01-12   -0.000108
   2000-01-13    0.000586
   2000-01-14   -0.003204
   2000-01-18   -0.000112
   2000-01-19   -0.002473
   2000-01-20    0.003467
   2000-01-21    0.004499
   2000-01-24    0.000695
   2000-01-25    0.008323
   2000-01-26   -0.000586
   2000-01-27   -0.002500
   2000-01-28    0.000235
   2000-01-31    0.002506
   2000-02-01   -0.006496
   2000-02-02    0.001206
   2000-02-03    0.000635
   dtype: float64,
   2: date
   2000-01-06   -0.002050
   2000-01-07   -0.008995
   2000-01-10    0.017143
   2000-01-11    0.028504
   2000-01-12   -0.015142
   2000-01-13   -0.006166
   2000-01-14    0.012445
   2000-01-18    0.009781
   2000-01-19   -0.003540
   2000-01-20    0.000939
   2000-01-21    0.000088
   2000-01-24   -0.003013
   2000-01-25   -0.012739
   2000-01-26   -0.004096
   2000-01-27    0.000566
   2000-01-28   -0.001757
   2000-01-31   -0.018444
   2000-02-01   -0.011199
   2000-02-02    0.008722
   2000-02-03    0.009372
   dtype: float64,
   1: date
   2000-01-06   -0.004837
   2000-01-07    0.018868
   2000-01-10    0.016933
   2000-01-11   -0.002306
   2000-01-12    0.002757
   2000-01-13   -0.009114
   2000-01-14    0.014670
   2000-01-18    0.002092
   2000-01-19    0.035226
   2000-01-20    0.002219
   2000-01-21   -0.009032
   2000-01-24    0.005184
   2000-01-25   -0.017185
   2000-01-26   -0.003414
   2000-01-27   -0.007186
   2000-01-28   -0.009658
   2000-01-31   -0.010943
   2000-02-01   -0.005877
   2000-02-02    0.006183
   2000-02-03    0.002446
   dtype: float64}},
 {'date': Timestamp('2000-02-07 00:00:00'),
  'synthetic_etfs': {0: date
   2000-01-07    0.011584
   2000-01-10    0.014811
   2000-01-11    0.001613
   2000-01-12    0.000622
   2000-01-13   -0.009240
   2000-01-14    0.014201
   2000-01-18    0.004027
   2000-01-19    0.042077
   2000-01-20    0.000756
   2000-01-21   -0.010510
   2000-01-24    0.008125
   2000-01-25   -0.018149
   2000-01-26   -0.003327
   2000-01-27   -0.007896
   2000-01-28   -0.009564
   2000-01-31   -0.013972
   2000-02-01   -0.004362
   2000-02-02    0.006688
   2000-02-03    0.003084
   2000-02-04   -0.001856
   dtype: float64,
   3: date
   2000-01-07    0.004878
   2000-01-10    0.006794
   2000-01-11   -0.002930
   2000-01-12   -0.007993
   2000-01-13    0.002735
   2000-01-14    0.002318
   2000-01-18   -0.000314
   2000-01-19   -0.005210
   2000-01-20   -0.005702
   2000-01-21   -0.009268
   2000-01-24   -0.000890
   2000-01-25   -0.006798
   2000-01-26   -0.004126
   2000-01-27    0.008911
   2000-01-28    0.007895
   2000-01-31   -0.014438
   2000-02-01    0.023292
   2000-02-02   -0.009040
   2000-02-03   -0.000675
   2000-02-04    0.007665
   dtype: float64,
   2: date
   2000-01-07   -0.002647
   2000-01-10   -0.001400
   2000-01-11    0.001273
   2000-01-12    0.000479
   2000-01-13   -0.000018
   2000-01-14   -0.002036
   2000-01-18    0.000270
   2000-01-19   -0.003663
   2000-01-20    0.003536
   2000-01-21    0.005382
   2000-01-24    0.000229
   2000-01-25    0.006386
   2000-01-26    0.000026
   2000-01-27   -0.002179
   2000-01-28   -0.001413
   2000-01-31    0.002361
   2000-02-01   -0.007368
   2000-02-02    0.002740
   2000-02-03    0.001504
   2000-02-04    0.000565
   dtype: float64,
   4: date
   2000-01-07    0.027033
   2000-01-10    0.023069
   2000-01-11   -0.008272
   2000-01-12   -0.010589
   2000-01-13   -0.003383
   2000-01-14    0.011222
   2000-01-18   -0.001703
   2000-01-19   -0.012341
   2000-01-20    0.002438
   2000-01-21   -0.007190
   2000-01-24   -0.007061
   2000-01-25   -0.015725
   2000-01-26   -0.006722
   2000-01-27    0.008471
   2000-01-28   -0.003997
   2000-01-31   -0.006781
   2000-02-01   -0.002697
   2000-02-02    0.005346
   2000-02-03   -0.001757
   2000-02-04    0.001201
   dtype: float64,
   1: date
   2000-01-07   -0.006613
   2000-01-10    0.015650
   2000-01-11    0.023991
   2000-01-12   -0.014391
   2000-01-13   -0.005910
   2000-01-14    0.011041
   2000-01-18    0.007823
   2000-01-19   -0.005139
   2000-01-20    0.001334
   2000-01-21   -0.001644
   2000-01-24   -0.003513
   2000-01-25   -0.011285
   2000-01-26   -0.004995
   2000-01-27    0.000167
   2000-01-28   -0.000513
   2000-01-31   -0.016285
   2000-02-01   -0.009784
   2000-02-02    0.006908
   2000-02-03    0.007991
   2000-02-04    0.020778
   dtype: float64}},
 {'date': Timestamp('2000-02-08 00:00:00'),
  'synthetic_etfs': {3: date
   2000-01-10    0.025318
   2000-01-11   -0.009723
   2000-01-12   -0.007185
   2000-01-13    0.002540
   2000-01-14    0.012436
   2000-01-18    0.001248
   2000-01-19   -0.014706
   2000-01-20   -0.001238
   2000-01-21   -0.011957
   2000-01-24   -0.006126
   2000-01-25   -0.017278
   2000-01-26   -0.005763
   2000-01-27    0.011623
   2000-01-28   -0.000173
   2000-01-31   -0.012546
   2000-02-01    0.010537
   2000-02-02    0.002500
   2000-02-03   -0.001438
   2000-02-04    0.005489
   2000-02-07   -0.010029
   dtype: float64,
   0: date
   2000-01-10   -0.000484
   2000-01-11   -0.002423
   2000-01-12    0.003579
   2000-01-13   -0.000137
   2000-01-14   -0.000797
   2000-01-18    0.000020
   2000-01-19   -0.004523
   2000-01-20    0.006142
   2000-01-21    0.006551
   2000-01-24   -0.000736
   2000-01-25    0.002198
   2000-01-26   -0.000302
   2000-01-27   -0.006153
   2000-01-28   -0.003655
   2000-01-31    0.004394
   2000-02-01   -0.010375
   2000-02-02    0.005417
   2000-02-03   -0.000019
   2000-02-04   -0.001017
   2000-02-07   -0.002712
   dtype: float64,
   2: date
   2000-01-10   -0.000067
   2000-01-11    0.006110
   2000-01-12   -0.011745
   2000-01-13   -0.000643
   2000-01-14   -0.002433
   2000-01-18   -0.000894
   2000-01-19   -0.000566
   2000-01-20   -0.004504
   2000-01-21   -0.005234
   2000-01-24    0.000664
   2000-01-25    0.003073
   2000-01-26   -0.002440
   2000-01-27    0.006926
   2000-01-28    0.008426
   2000-01-31   -0.010459
   2000-02-01    0.010769
   2000-02-02   -0.008329
   2000-02-03    0.002978
   2000-02-04    0.007545
   2000-02-07    0.006922
   dtype: float64,
   1: date
   2000-01-10    0.017496
   2000-01-11    0.001312
   2000-01-12   -0.000774
   2000-01-13   -0.010949
   2000-01-14    0.016361
   2000-01-18    0.005543
   2000-01-19    0.041771
   2000-01-20    0.001188
   2000-01-21   -0.010273
   2000-01-24    0.010005
   2000-01-25   -0.020661
   2000-01-26   -0.004284
   2000-01-27   -0.006181
   2000-01-28   -0.011619
   2000-01-31   -0.013607
   2000-02-01   -0.003460
   2000-02-02    0.008819
   2000-02-03    0.002595
   2000-02-04   -0.002921
   2000-02-07    0.001719
   dtype: float64,
   4: date
   2000-01-10    0.016588
   2000-01-11    0.023303
   2000-01-12   -0.015346
   2000-01-13   -0.007935
   2000-01-14    0.011981
   2000-01-18    0.006007
   2000-01-19   -0.005185
   2000-01-20    0.002611
   2000-01-21    0.000288
   2000-01-24   -0.005145
   2000-01-25   -0.011935
   2000-01-26   -0.005713
   2000-01-27   -0.000488
   2000-01-28   -0.002874
   2000-01-31   -0.014647
   2000-02-01   -0.014063
   2000-02-02    0.007774
   2000-02-03    0.007192
   2000-02-04    0.019086
   2000-02-07    0.003699
   dtype: float64}},
 {'date': Timestamp('2000-02-09 00:00:00'),
  'synthetic_etfs': {3: date
   2000-01-11    0.000781
   2000-01-12   -0.003105
   2000-01-13   -0.002282
   2000-01-14    0.010092
   2000-01-18    0.004131
   2000-01-19   -0.012902
   2000-01-20    0.007352
   2000-01-21    0.001942
   2000-01-24   -0.006637
   2000-01-25   -0.013798
   2000-01-26    0.000057
   2000-01-27    0.000838
   2000-01-28   -0.002455
   2000-01-31   -0.001138
   2000-02-01   -0.017054
   2000-02-02    0.015784
   2000-02-03   -0.000967
   2000-02-04    0.001983
   2000-02-07   -0.002762
   2000-02-08   -0.002886
   dtype: float64,
   0: date
   2000-01-11   -0.008367
   2000-01-12   -0.008218
   2000-01-13    0.003000
   2000-01-14    0.010079
   2000-01-18    0.001563
   2000-01-19   -0.010716
   2000-01-20   -0.004201
   2000-01-21   -0.014697
   2000-01-24   -0.003872
   2000-01-25   -0.014641
   2000-01-26   -0.004395
   2000-01-27    0.015831
   2000-01-28    0.003417
   2000-01-31   -0.016178
   2000-02-01    0.018782
   2000-02-02   -0.001911
   2000-02-03   -0.001110
   2000-02-04    0.006076
   2000-02-07   -0.007078
   2000-02-08   -0.008277
   dtype: float64,
   1: date
   2000-01-11    0.000349
   2000-01-12   -0.001520
   2000-01-13    0.000265
   2000-01-14   -0.006905
   2000-01-18   -0.003191
   2000-01-19    0.000025
   2000-01-20   -0.001158
   2000-01-21    0.003246
   2000-01-24   -0.000231
   2000-01-25    0.011416
   2000-01-26   -0.002889
   2000-01-27   -0.004606
   2000-01-28    0.001307
   2000-01-31   -0.001730
   2000-02-01    0.001301
   2000-02-02   -0.007446
   2000-02-03    0.001496
   2000-02-04    0.000792
   2000-02-07    0.002369
   2000-02-08    0.000324
   dtype: float64,
   4: date
   2000-01-11    0.001367
   2000-01-12   -0.000263
   2000-01-13   -0.011284
   2000-01-14    0.016545
   2000-01-18    0.005454
   2000-01-19    0.040906
   2000-01-20    0.003210
   2000-01-21   -0.010471
   2000-01-24    0.013053
   2000-01-25   -0.021111
   2000-01-26   -0.005482
   2000-01-27   -0.004963
   2000-01-28   -0.012551
   2000-01-31   -0.013283
   2000-02-01   -0.003193
   2000-02-02    0.007655
   2000-02-03    0.002837
   2000-02-04   -0.002152
   2000-02-07    0.000319
   2000-02-08    0.002180
   dtype: float64,
   2: date
   2000-01-11    0.024288
   2000-01-12   -0.018414
   2000-01-13   -0.007007
   2000-01-14    0.008839
   2000-01-18    0.004436
   2000-01-19   -0.002785
   2000-01-20    0.000060
   2000-01-21   -0.000958
   2000-01-24   -0.003334
   2000-01-25   -0.008129
   2000-01-26   -0.006197
   2000-01-27    0.000392
   2000-01-28   -0.000070
   2000-01-31   -0.015194
   2000-02-01   -0.006573
   2000-02-02    0.002580
   2000-02-03    0.008649
   2000-02-04    0.021506
   2000-02-07    0.005575
   2000-02-08   -0.001436
   dtype: float64}},
 {'date': Timestamp('2000-02-10 00:00:00'),
  'synthetic_etfs': {2: date
   2000-01-12   -0.008293
   2000-01-13    0.002950
   2000-01-14    0.009638
   2000-01-18    0.002454
   2000-01-19   -0.013317
   2000-01-20   -0.003469
   2000-01-21   -0.014407
   2000-01-24   -0.002677
   2000-01-25   -0.018796
   2000-01-26   -0.005249
   2000-01-27    0.015540
   2000-01-28    0.003404
   2000-01-31   -0.015201
   2000-02-01    0.016861
   2000-02-02   -0.000314
   2000-02-03   -0.002862
   2000-02-04    0.002769
   2000-02-07   -0.007471
   2000-02-08   -0.007541
   2000-02-09    0.003188
   dtype: float64,
   0: date
   2000-01-12   -0.003874
   2000-01-13   -0.000351
   2000-01-14   -0.005634
   2000-01-18   -0.004132
   2000-01-19    0.002151
   2000-01-20   -0.002304
   2000-01-21    0.000808
   2000-01-24   -0.002495
   2000-01-25    0.012658
   2000-01-26   -0.003086
   2000-01-27   -0.003046
   2000-01-28    0.002273
   2000-01-31   -0.003712
   2000-02-01    0.002244
   2000-02-02   -0.007220
   2000-02-03    0.002492
   2000-02-04    0.003151
   2000-02-07    0.003108
   2000-02-08    0.000394
   2000-02-09   -0.003613
   dtype: float64,
   3: date
   2000-01-12   -0.000318
   2000-01-13   -0.003756
   2000-01-14    0.006750
   2000-01-18    0.005224
   2000-01-19   -0.010556
   2000-01-20    0.008253
   2000-01-21    0.007427
   2000-01-24   -0.003695
   2000-01-25   -0.012943
   2000-01-26    0.000447
   2000-01-27   -0.003363
   2000-01-28   -0.005676
   2000-01-31    0.001226
   2000-02-01   -0.018880
   2000-02-02    0.014085
   2000-02-03   -0.000554
   2000-02-04   -0.000604
   2000-02-07   -0.001387
   2000-02-08   -0.002026
   2000-02-09    0.003413
   dtype: float64,
   1: date
   2000-01-12   -0.019152
   2000-01-13   -0.005966
   2000-01-14    0.012108
   2000-01-18    0.004612
   2000-01-19   -0.003903
   2000-01-20   -0.000078
   2000-01-21   -0.002592
   2000-01-24   -0.005221
   2000-01-25   -0.006876
   2000-01-26   -0.004684
   2000-01-27    0.001551
   2000-01-28    0.001084
   2000-01-31   -0.015637
   2000-02-01   -0.007848
   2000-02-02    0.004610
   2000-02-03    0.009461
   2000-02-04    0.025218
   2000-02-07    0.004723
   2000-02-08   -0.002551
   2000-02-09    0.007255
   dtype: float64,
   4: date
   2000-01-12   -0.000057
   2000-01-13   -0.010815
   2000-01-14    0.015731
   2000-01-18    0.004413
   2000-01-19    0.038939
   2000-01-20    0.004702
   2000-01-21   -0.009819
   2000-01-24    0.013074
   2000-01-25   -0.021915
   2000-01-26   -0.006443
   2000-01-27   -0.004479
   2000-01-28   -0.012380
   2000-01-31   -0.013168
   2000-02-01   -0.003276
   2000-02-02    0.007177
   2000-02-03    0.003094
   2000-02-04   -0.001666
   2000-02-07    0.000230
   2000-02-08    0.001799
   2000-02-09   -0.007972
   dtype: float64}},
 {'date': Timestamp('2000-02-11 00:00:00'),
  'synthetic_etfs': {1: date
   2000-01-13   -0.010551
   2000-01-14    0.015859
   2000-01-18    0.005002
   2000-01-19    0.037427
   2000-01-20    0.005191
   2000-01-21   -0.007195
   2000-01-24    0.014419
   2000-01-25   -0.020936

In [120]:
# Let's assume `results` is your list as described.
results_by_date = {}

for entry in results:
    date = entry['date']
    synthetic_etfs = entry['synthetic_etfs']

    # Create a DataFrame from the cluster dictionary
    df = pd.DataFrame.from_dict(synthetic_etfs, orient='index')

    # Store the DataFrame using the date as a key
    results_by_date[date] = df

In [128]:
results_by_date[pd.Timestamp('2000-05-31')]

,2000-05-02,2000-05-03,2000-05-04,2000-05-05,2000-05-08,2000-05-09,2000-05-10,2000-05-11,2000-05-12,2000-05-15,2000-05-16,2000-05-17,2000-05-18,2000-05-19,2000-05-22,2000-05-23,2000-05-24,2000-05-25,2000-05-26,2000-05-30
2,0.005807,0.017419,-0.026081,0.010637,0.004036,0.003477,-0.000148,-0.008383,0.006183,0.004158,0.009951,-0.002642,-0.003356,-0.002401,-0.006731,-0.010860,0.003334,-0.015347,-0.001658,-0.003593
1,-0.003306,-0.002643,0.005185,-0.003132,-0.001117,-0.002232,-0.000023,-0.001248,-0.003249,-0.000583,-0.003741,0.000532,0.000906,-0.001163,0.001188,-0.001932,-0.001141,-0.001781,0.001392,-0.001936
3,0.004770,-0.014425,-0.019246,0.006443,0.018897,-0.011615,-0.005247,-0.023969,0.019023,0.013798,0.005556,0.014136,-0.013549,-0.005229,-0.019580,-0.014512,-0.009558,0.001402,-0.001265,-0.004380
0,0.004336,-0.009185,-0.008503,0.006471,-0.000951,0.004815,-0.001247,-0.003837,0.017474,-0.005033,0.017940,-0.004770,-0.013257,0.002739,-0.009200,0.007825,-0.006422,0.016228,-0.018539,0.007197
4,0.040103,-0.010220,-0.008248,0.003373,-0.000354,-0.004627,-0.005716,-0.016063,0.009098,-0.000901,0.001386,0.003647,-0.002390,-0.006770,-0.007430,-0.008042,-0.002234,-0.007229,-0.004179,0.000661